name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  versionning:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.snapshot.outputs.version }}
      release: ${{ steps.release.outputs.version }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.ref }}
        fetch-depth: 0

    - name: Remove tag locally
      run: |
        git tag -d ${{ github.ref_name }}

    - name: Compute branch for codacy
      id: rev
      run: |
        export CURRENT_BRANCH=$(git describe --tags)
        echo "current-branch=$CURRENT_BRANCH" >> $GITHUB_OUTPUT

    - name: Generate Snapshot Version
      id: snapshot
      uses: codacy/git-version@2.7.1
      with:
        minor-identifier: "feat:"
        release-branch: ${{ github.ref_name }}-pre
        dev-branch: ${{ steps.rev.outputs.current-branch }}

    - name: Generate Release Version
      id: release
      uses: codacy/git-version@2.7.1
      with:
        minor-identifier: "feat:"
        release-branch: ${{ steps.rev.outputs.current-branch }}
        dev-branch: main

    - name: Put versions in step summary
      run: |
        echo SNAPSHOT => ${{ steps.snapshot.outputs.version }} >> $GITHUB_STEP_SUMMARY
        echo RELASE   => ${{ steps.release.outputs.version }} >> $GITHUB_STEP_SUMMARY

  dynamicworker-image:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dist: ["Alpine", "RedHat", "Ubuntu"]
    needs: [versionning]
    name: Build Dynamic Worker Image [${{ matrix.dist }}]
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          ref: ${{ github.ref }}

      - name: Build the image
        id: build
        run: |
          source ./tools/common.sh
          export WORKER_IMG="dockerhubaneo/armonik-sdk-cpp-dynamicworker"
          ./tools/build-dynamic-worker.sh -e ${{ matrix.dist }} -n "$WORKER_IMG" -v ${{ github.ref_name }} -a $ARMONIK_API_VERSION_DEFAULT
          export WORKER_VERSION="${{ github.ref_name }}-$(echo "${{ matrix.dist }}" | awk '{print tolower($0)}')"
          echo "worker_img=$WORKER_IMG" >> $GITHUB_OUTPUT
          echo "worker_version=$WORKER_VERSION" >> $GITHUB_OUTPUT

      - name: Login Docker
        run: echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u ${{ secrets.DOCKER_HUB_LOGIN }} --password-stdin

      - name: Push Docker
        run: |
          docker push "${{ steps.build.outputs.worker_img}}:${{ steps.build.outputs.worker_version }}"
  release-cpp-package:
    needs: [versionning]
    strategy:
      fail-fast: false
      matrix:
        type: [tar.gz, deb, rpm]
    name: Build C++ SDK Packages [${{ matrix.type }}]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          ref: ${{ github.ref }}

      - name: Build the package
        run: |
          cd tools/packaging
          ./make-${{ matrix.type }}.sh ${{ github.ref_name }}
      - name: Upload to release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          gh release upload ${{ github.ref_name }} tools/packaging/*.${{ matrix.type }}
